<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="global.css" rel="stylesheet" />
    <!--    <link rel="stylesheet" href="../user.css">-->
    <title>User</title>
</head>
<body>

<h1 class="heading">CCL" <span class="accent">|</span> <%= (typeof title != "undefined" ? title : "") %></h1>

<div class="wrapper">
    <div class="card">
        <h4 class="contentTxt"><%= user.id %></h4>
        <h4 class="contentTxt"><%= user.name %></h4>
    </div>
</div>

</body>
</html>
